#title {
  background-color: #abaee0;
}

body {
  font-family: 'Raleway', sans-serif;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5x;
  color: #fff;
}

h2 {
  color: #fff;
  font-family: 'Raleway';
  font-size: 1.5;
  font-weight: bold;
}

h3 {
  font-family: 'Raleway';
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.0rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px
}

.navbar-link {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
}

/* Download Buttons */

.download-button {
  margin: 5% 5% 5% 0;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(15deg);
  position: absolute;
}

/* Features Section */

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #e9e58f;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #abaee0;
}

/* Testimonial Section */

#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #abaee0;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-image {
  width: 10%;
  border-radius: 50%;
  margin: 20 px;
}

#press {
  background-color: #abaee0;
  text-align: center;
}

.press-logo {
  width: 10%;
  margin: 20px 20px 50px;
}

/*Pricing Section*/

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-header {
  color: #000;
}

.pricing-column {
  padding: 3% 2%;
}

/*Call to Action Section CTA*/

#cta {
  background-color: #abaee0;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}

/*Footer Section*/

#footer {
  padding: 7% 15%;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}

/*Media Query Section*/

@media (max-width: 1028px){

  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}